<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @create_image.file %>
</p>

<p>
  <strong>View count:</strong>
  <%= @create_image.view_count %>
</p>

<p>
  <strong>User:</strong>
  <%= @create_image.user %>
</p>

<%= link_to 'Edit', edit_create_image_path(@create_image) %> |
<%= link_to 'Back', create_images_path %>
