<p id="notice"><%= notice %></p>


  <strong>Image:</strong>
  <%= image_tag(@user_image.image.url, alt: 'Image', class: image_classname(@user_image.view_count)) %>
<p>
  <strong>View count:</strong>
  <%= @user_image.view_count %>
</p>

<%= link_to 'Edit', edit_user_image_path(@user_image) %> |
<%= link_to 'Back', user_images_path %>
